:root {
    --white: #fff;
}

* {
    background: rgb(36, 44, 44);
    font-family: monospace, Arial, Helvetica, sans-serif;
    color: var(--white);
    text-align: center;
}

nav {
    padding-bottom: 2%;
}

nav span {
    font-size: 200%;
    padding-right: 5px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    padding-left: 15px;
}

.about {
    display: flex;
    align-items: center;
    margin: 0 5%;
}

#about {
    margin-left: 2%;
}

.about img {
    display: block;
    width: 30%;
    border-radius: 80%;
}

.contact a {
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    nav span {
        font-size: 150%;
    }

    nav a {
        display: block;
        font-size: 125%;
    }
  }

  @media screen and (max-width: 614px) {
    nav span {
        font-size: 115%;
    }

    nav a {
        display: block;
    }

    .about img {
        width: 50%;
    }

    .projects img {
        width: 75%;
    }
  }

  @media screen and (max-width: 420px) {
      .about {
          display: block;
      }
    }