:root {
    --white: #fff;
}

* {
    background: black;
    font-family: monospace;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style-type: none;
    color: var(--white);
    display: inline;
    font-size: 300%;
    flex-shrink: 1;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
}

nav ul li a:hover {
    text-decoration: none;
    color: orangered;
}

.about {
    display: flex;
    align-items: center;
    padding: 2% 10% 0 10%;
}

.about img {
    display: block;
    width: 32%;
    height: 80%;
    border-radius: 80%;
    flex-shrink: 0.6;
}

.block {
    flex-grow: 2;
}

.block h2, p {
    color: var(--white);
    padding: 0px 10px 0px 20px;
}

.projects {
    display: flex;
    justify-content: space-evenly
}

h3 {
    color: var(--white);
    font-size: 175%;
    text-align: center;
}